.logged {
  text-decoration: none !important;
  color: #034078 !important;
  margin-right: 40px;
}

.navSpan {
  font-size: 20px;
  color: #034078 !important;
}

.navSpanRes {
  display: none !important;
}

@media (max-width: 600px) {
  .navSpanRes {
    display: unset !important;
    font-size: 20px;
  }
  .navSpan {
    display: none !important;
  }
}

.menu-bars {
  margin-left: 1.8rem !important;
  font-size: 2rem;
  background: none;
}

.menu-times {
  font-size: 2.5rem;
  margin-left: 1.7rem !important;
}

.menu-bars svg path {
  fill: #034078;
}

.menu-times svg path {
  fill: #6bb1c5;
}

.menu-times svg:hover path {
  fill: #fefcfb !important;
}

.menu-bars svg:hover path {
  fill: #fefcfb !important;
}

.nav-menu {
  background-color: #0a1128;
  width: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1s;
  z-index: 5;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 5;
}

.nav-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 12vh;
}

.nav-icon a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon a svg {
  fill: #6bb1c5;
  width: 60%;
  height: 100%;
}

.nav-icon a svg:hover {
  fill: #fefcfb;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0 !important;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
